div[id^="adsbgleft"] {display: none !important;}
div[class^="imageplus-append"] {display: none !important;}
div[class^="ad-widget-imageplus"] {display: none !important;}
div[id^="masthead-ad"] {display: none !important;}
div[class^="baiduimageplus-s-wrap"] {display: none !important;}
div[id^="google_ads_frame"] {display: none !important;}
div[class^="daf-close"] {display: none !important;}
div[class^="adbox"] {display: none !important;}
div[id^="uniad-balloon-wrapper"] {display: none !important;}
div[id^="/uniad/"] {display: none !important;}
div[class^="uniad-zonetype-preload-container"] {display: none !important;}
div[class^="uniad-zonetype-preload-overlay"] {display: none !important;}
ins[class^="adsbygoogle adsbygoogle-noablate"] {display: none !important;}
iframe[src*="union.ijinshan.com"] {display: none !important;}
iframe[id^="ad"] {display: none !important;}
iframe[id^="google_esf"] {display: none !important;}
a[href*="doubleclick.net"] {display: none !important;}
a[href*="/Click?Click="] {display: none !important;}
a[href*="/Show?show="] {display: none !important;}
embed[id="Advertisement"] {display: none !important;}
iframe[id*="google_osd_static_frame"] {display: none !important;}
iframe[src*="www.google-analytics.com"] {display: none !important;}
iframe[src*="static.googleadsserving.cn"] {display: none !important;}
iframe[src*="partner.googleadservices.com"] {display: none !important;}
iframe[src*="pagead2.googlesyndication.com"] {display: none !important;}
iframe[src*="googleads.g.doubleclick.net/"] {display: none !important;}
a[href^="/i3.wp.com/verycheap.cheap-ads.net/*"] {display: none !important;}
a[href^="https://stats.adrealclick.com/url"] {display: none !important;}
a[href^="/edimax"] {display: none !important;}
a[href^="/vpn.php"] {display: none !important;}
a[href^="/poster.thumb.jpg"] {display: none !important;}
a[href^="/body_bg.gif"] {display: none !important;}
a[href^="/*.php"] {display: none !important;}
a[href^="http://goo.gl/*.bp.blogspot.com/*"] {display: none !important;}
a[href^="*/data/attachment/*"] {display: none !important;}
a[href^="javascript:*"] {display: none !important;}
a[href^="javascript:;"] {display: none !important;}
a[href^="/vip-tehfilm"] {display: none !important;}
a[rel^="nofollow"] {display: none !important;}
a[onclick^="fnmonitor(*"] {display: none !important;}
a[class^="uniad-link"] {display: none !important;}
iframe[src^="*/forum?t"=] {display: none !important;}
aside[class^="row channel preisvergleich"] {display: none !important;}
dd[id^="buscashopping"] {display: none !important;}
div[align^="center" id^="barraplus1"] {display: none !important;}
div[class^="insert"] {display: none !important;}
div[data-type^="ad"] {display: none !important;}
div[data-vr-zone^="tr-stoerer-auto-erotik"] {display: none !important;}
div[id^="abox"] {display: none !important;}
div[id^="aclose"] {display: none !important;}
body{background-color:rgba(50,50,50,1)!important}#overlay,#video{display:none!important}